*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNavBarDiv{
  position: fixed;
  top: 1vw;
  left: 1vw;
  background-color: white; /* Testing */
}

.mobileNavBarDiv .fa-arrow-right{
  font-size: 15vw;
  transition: .5s all;
}

.mobileNavBarDiv .fa-arrow-right.rotated{
  color: red;
  transform: rotate(-180deg);
  transition: .5s all;
}