
/* ===== Basic Settings ===== */

/* Testing */
:root {
  --primary-text: #d2dae2;
  --secondary-text: #ffc048;
  --highlight: #ffa801;
  --primary-background: #1e272e;
  --secondary-background: #485460;
}

*{
  margin: 0;
  padding: 0;
  color: var(--primary-text);
  font-family: Vollkorn;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background);
}

a{
  text-decoration: none;
  color: var(--primary-text);
  transition: .3s all;
}

a:hover{
  color: var(--highlight);
  transition: .3s all;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

/* ===== Mobile Nav Bar ===== */

.mobileNavBarDiv{
  position: fixed;
}

/* ----- Arrow ----- */

.mobileNavBarDiv .fa-arrow-right{
  position: fixed;
  z-index: 1;
  top: 1vw;
  left: 1vw;
  font-size: 10vh;
  transition: .5s all;
  color: var(--highlight);
}

.mobileNavBarDiv .fa-arrow-right.rotated{
  transform: rotate(-180deg);
  transition: .5s all;
  left: calc(80vw - 10vh);
}

/* ----- Menu Box ----- */

.mobileMenu{
  position: fixed;
  height: 100vh;
  width: 80vw;
  overflow-y: hidden;
  background-color: var(--secondary-background);
}

.mobileMenu.inactive{
  transition: .5s all;
  top: 0;
  left: -80vw;
}

.mobileMenu.active{
  transition: .5s all;
  top: 0;
  left: 0;
}

.mobileMenu ul{
  margin-top: 10vh;
}

.mobileMenu li{
  margin-top: 3vh;
}

.mobileMenu a{
  font-size: 7vh;
  margin-left: 5vw;
}

/* ===== Browser Nav Bar ===== */

.browserNavBarContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 2vh;

  font-size: max(1.5vw, 15px);
}

.browserNavBarContainer h1{
  font-size: max(4vw, 30px);
}

/* ===== Big Image Header ===== */

.bigImageHeaderContainer{

  background-color: var(--secondary-background);
  background-image: url("Images/grayscaleMountainFull.jpg");
  background-blend-mode: multiply;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
}

.bigImageHeaderContainer.mobile{
  background-position: center;
  background-attachment: local;
}

.bigImageHeaderContainer h1{
  font-size: 8vw;
  text-align: center;
}

.bigImageHeaderContainer h3{
  font-size: 4vw;
  text-align: center;
}

.bigImageHeaderContainer.mobile h1{
  font-size: 15vw;
}

.bigImageHeaderContainer.mobile h3{
  font-size: 8vw;
}

.bigImageHeaderContainer a{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1vw;
  color: var(--secondary-background);
}

.bigImageHeaderContainer.mobile a{
  display: none;
}

/* ===== Text With Image Component ===== */

/* ----- Browser View ----- */

.textWithImageContainer.browser{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.textWithImageContainer.browser img{
  height: auto;
  width: 100%;
  column-span: 1;
}

.textWithImageContainer.browser .textComponent{
  margin: 30px;
  grid-column: auto / span 2;
}

.textWithImageContainer p{
  text-indent: 30px;
}

/* ----- Mobile View ----- */
.textWithImageContainer.mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textWithImageContainer.mobile img{
  width: 100vw;
}

.textWithImageContainer.mobile .textComponent{
  text-align: center;
  margin: 30px;
}

/* ===== Website Footer ===== */

/* ----- Web View ----- */

.footerElementContainer.web{
  border-top: 2px solid var(--secondary-background);

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.footerElementContainer.web .col{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

/* ----- Mobile View ----- */

.footerElementContainer.mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerElementContainer.mobile .col{
  border-top: 1px solid var(--s econdary-background);
}